.portfolio {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
  }
  &__btn {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    @include fonts($fw: 500, $fs: 16px, $lh: 26px, $ls: 0.03em);
    background-color: var(--second-bg-color);
    color: var(--primary-title-color);
    transition-property: background-color, color, box-shadow;
    @extend %transition;
    &:hover,
    &:focus {
      background-color: var(--active-link-color);
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards {
  width: 100%;
  justify-content: center;
  @include mobile {
    width: 450px;
  }

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
  &__link {
    display: block;

    transition-property: box-shadow;
    @extend %transition;

    display: flex;
    flex-direction: column;
    height: 100%;
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__top-wrap {
    position: relative;
    overflow: hidden;
  }
  &__more {
    font-family: "Roboto";
    font-style: normal;
    @include fonts($fw: 400, $fs: 18px, $lh: 28px, $ls: 0.03em);
    color: var(--primary-bg-color);

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    transition-property: transform;
    @extend %transition;
    overflow: auto;
  }

  &__link:hover &__more {
    transform: translateY(0);
  }

  &__info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: transparent;

    flex-grow: 1;
  }

  &__title {
    margin-bottom: 4px;
    @include fonts(null, $fs: 18px, $lh: 36px, $ls: 0.06em);
    color: var(--primary-title-color);
    @include tablet {
      width: 270px;
      flex-wrap: wrap;
    }
    @include desktop {
      width: 100%;
      flex-wrap: nowrap;
    }
  }

  &__text {
    @include fonts($fw: 400, $fs: 16px, $lh: 30px, $ls: 0.03em);
    color: var(--primary-text-color);
  }

  /* .gallery-more {
} додатковий текст клітинокгалереї*/
  abbr {
    text-decoration: none;
  }
}
