.title {
  margin: 0 0 30px;
  // margin: 0 0 50px;
  text-align: center;
  color: var(--primary-title-color);

  @include fonts($fw: 700, $fs: 28px, $lh: 33px, $ls: 0.03em);

  @include desktop {
    @include fonts($fw: 700, $fs: 36px, $lh: 42px, $ls: 0.03em);
  }
}
