body {
  // font-family: "Roboto", sans-serif;
  @include fonts;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

textarea {
  resize: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
